{%  extends 'base.html' %}
{%  block content %}

    <h5>SÅåååååå kom der banko på FULD PLADE!</h5>
    <p>Stort tillykke til Laura Rønje med den fine valentinskurv fyldt med dejlige sager til en romantisk dag for 2 eller måske blot en dejlig weekend i eget selvskab :-)</p>
    <p>&nbsp;</p>
    <p>Vinder af fuld plade: Laura Rønje</p>
    <p>- En ”Valentinskurv” Sponsoreret af Massørskolen Fyn, Pernille Brandt, Kjeld Lundorf og Lykkegard</p>
    <p>Sidegevinst (før): Kristina Bech Jørgensen</p>
    <p>- En GIGA pose med familie GUF sponsoreret af Lykkegard.</p>
    <p>Sidegevinst (efter): Majbrit Eghjort</p>
    <p>- En Aftenstunder Spangsberg Chokolade sponsoreret af Kjeld Lundorf.</p>
    <hr>
    <h1>Dagens trækning</h1>
    <hr>
    <h3>Vi spiller hele pladen fuld.</h3>
    <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/z_873RGwxPE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
        <h2>Dagens tal</h2>
    <hr>
        <table class="table table-striped">
        <tr>
            {%  for number in drawn %}<td>{{ number }}</td>{%  if loop.index % 10 == 0 %}</tr><tr>{% endif %}{%  endfor %}
        </tr>
        </table>
    <p><a href="/tilmeldte">Find din plade</a> og se om der er gevinst!</p>
    <hr>
    <h2>Er du tilmeldt?</h2>
    <p>Husk at få dig <a href="/registrering">tilmeldt</a> inden vi starter!</p>

    <p><a href="/videoer">Tidligere videoer..</a></p>
{%  endblock %}