{%  extends 'base.html' %}
{%  block content %}

    <h3>Vi spiller til to rækker</h3>
    <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2y0cd9iD5aY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
        <h2>Dagens tal</h2>
    <hr>
        <table class="table table-striped">
        <tr>
            {%  for number in drawn %}<td>{{ number }}</td>{%  if loop.index % 10 == 0 %}</tr><tr>{% endif %}{%  endfor %}
        </tr>
        </table>
    <p><a href="/tilmeldte">Find din plade</a> og se om der er gevinst!</p>
    <hr>
    <h3>Der er banko</h3>
<p>    Så fandt vi denne uges første vinder! Stort tillykke til.......</p>
    <p>Vinder af 1 række: Christian Palle</p>
    <p>- 3 flasker lækker rødvin og en stofindkøbspose sponsoreret af RevisorGården Holbæk</p>
<p> Sidegevinst (før): Carsten Mortensen</p>
    <p>- En lækker mulepose sponsoreret af Sparekassen Sjælland og Lykkegard.</p>
    <p>Sidegevinst (efter): Maria-Christina Lundorf</p>
    <p>- En plasticpose fyldt med dejlige sager sponsoreret af DanBolig Holbæk.,</p>
    <hr>
    <h2>Er du tilmeldt?</h2>
    <p>Husk at få dig <a href="/registrering">tilmeldt</a> inden vi starter!</p>

    <p><a href="/videoer">Tidligere videoer..</a></p>
{%  endblock %}