{%  extends 'base.html' %}
{%  block content %}


    <h3>Vinder fundet. Vi spiller igen i uge 8</h3>
    <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lN_Ka8dtvxU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
        <p>Så blev der i den grad også råbt banko på 2 rækker! Hele 6 stk. havde banko i dag efter dagens trækning. Her gælder det igen at det tal som bliver trukket først og udløser banko er også den som vinder!</p>
    <ul>
        <li>Rikke H Laugesen fik banko på nr. 25</li>
        <li>Heidi Halberg  banko på nr. 47</li>
        <li>Patrick Wymer banko på nr. 90</li>
        <li>Lotte Bastholm på nr. 32</li>
        <li>June Blom Birkedal på nr. 49</li>
        <li>Kirstine Vikkelsø Hansen på nr. 42</li>
    </ul>
<p>Vinder af 2 rækker: Rikke H Laugesen</p>
    <p>- Lækkerier fra sponsoreret af Liljehøj og 2 flasker vin sponsoreret af SuperBrugsen i Asnæs.</p>
    <p>Sidegevinst (før): Rie Ellinor Sølling Eriksen</p>
    <p>- En partybox med Fredagslik mix fra Haribo sponsoreret af Lykkegard.</p>
    <p>Sidegevinst (efter): Rikke Staal</p>
    <p>- En lækker æske med dessertchokolader fra Jacobsen sponsoreret af Lykkegard.</p>
    <p>&nbsp;</p>
<p>
Stort tillykke!!! Præmierne kan afhentes i PS Videnscenter på 1. sal (lige ved dart og billardbordet)
</p>
    <p>&nbsp;</p>

    <h3>Vinder af fuld plade: Heidi Halberg</h3>
    <p>- En hyggekurv fyldt med lækre sager. 2 stk. biografbilletter, 1 gavekort til Sidesporet, rødvin, Captain Morgan, chokolade, saltede peanuts, fyldte chokolader og cola. Sponsoreret af Parasport Danmark, Pernille Brandt, Kjeld Lundorf og Lykkegard.</p>
    <p>Sidegevinst (før): Ditte Juhl</p>
    <p>- 2 Flasker specialøl sponsoreret af SuperBrugsen i Asnæs.</p>

<p>Sidegevinst (efter): Helle Daugaard</p>
    <p>- En guldæske chokolade fra Anton Berg sponsoreret af SuperBrugsen i Asnæs.</p>
<p>&nbsp;</p>
    <p>Præmierne kan afhentes i PS Videnscenter på 1. sal</p>
       <!-- //
        <h2>Dagens tal</h2>
    <hr>
        <table class="table table-striped">
        <tr>
            {%  for number in drawn %}<td>{{ number }}</td>{%  if loop.index % 10 == 0 %}</tr><tr>{% endif %}{%  endfor %}
        </tr>
        </table>

        -->
    <p><a href="/tilmeldte">Find din plade</a> og se om der er gevinst!</p>
    <hr>
    <h2>Er du tilmeldt?</h2>
    <p>Husk at få dig <a href="/registrering">tilmeldt</a> inden vi starter!</p>

    <p><a href="/videoer">Tidligere videoer..</a></p>
{%  endblock %}