{%  extends 'base.html' %}
{%  block content %}
    <h1>Tirsdag, uge 8</h1>
    <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ULf39u8QXGQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <h1>Mandag, uge 8</h1>
    <p>&nbsp;</p>
    <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kn_3YVeJ-ZY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <h1>Hanne kan mærke noget</h1>
    <p>&nbsp;</p>
    <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lN_Ka8dtvxU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        <h1>Sidste trækning uge 7</h1>
    <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MDlZptzs_ow" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <h1>Femte trækning uge 7</h1>
        <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/q1I7n9-bGVc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <h1>Fjerde trækning uge 7</h1>
    <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pi8cYjLFgvI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <h1>Tredje trækning uge 7</h1>
        <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4lg8JvtvSTs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <h1>Anden trækning uge 7</h1>
     <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/n9mQOm_6EQU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <h1>Første trækning uge 7</h1>
    <p>&nbsp;</p>
    <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rk-jLJ1z7B8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <hr>
    <h1>Sidste trækning uge 6</h1>
        <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/z_873RGwxPE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
        <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UqT4bAvsbXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <h1>Sjette trækning uge 6</h1>
        <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/zjWlL55O7Uc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <h1>Femte trækning uge 6</h1>
    <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MxXvuhxKr4w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <h1>Fjerde trækning uge 6</h1>
    <p>&nbsp;</p>
    <div align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/raQzbVczVRM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>&nbsp;</p>
        <h1>Tredje trækning uge 6</h1>
        <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BHjnBUpx_QA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
        <p>&nbsp;</p>
    <h1>Anden trækning uge 6</h1>
    <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5j5CEeF3Q5Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
    <h1>Første trækning uge 6</h1>
    <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fb-Lys1Wo1w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
    <h1>Teaser-runde 2</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cAiYThKKCS8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7Uor0A10kR8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <hr width="2">
    <h1>Nye tal hver dag ca. kl. 12:00</h1>
    <p>Du behøver ikke sidde klar på slaget - der er 24 timer at råbe banko i</p>
    <p>Husk at få dig <a href="/registrering">tilmeldt</a> inden vi starter!</p>
    <p>Du kan se de trukkede tal både her på siden og på facebook.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/l7DcLBrrZI8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bjRYDsbRbgk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <hr width="2">
    <h1>Spillet starter 8. februar.</h1>
    <p>Husk at få dig <a href="/registrering">tilmeldt</a> inden vi starter!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wpDGOwbi3p8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{%  endblock %}