{%  extends 'base.html' %}
{%  block content %}

<h1>Vindere i uge 7</h1>
    <p>&nbsp;</p>

<h3>Vinder af 1 række: June Birkedal/h3>
    <p>- 3 flasker lækker rødvin og en stofindkøbspose sponsoreret af RevisorGården Holbæk</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (før): </p>
    <p>- En plasticpose fyldt med dejlige sager sponsoreret af DanBolig Holbæk.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (efter): </p>
    <p>- En lækker mulepose sponsoreret af Sparekassen Sjælland og Lykkegard.</p>
    <p>&nbsp;</p>
    <table><tr><td><img src="/static/gaver/uge7/1r_side_foer_u7.jpg" alt=""></td><td><img src="/static/gaver/uge7/1r_side_hoved_u7.jpg" alt=""></td><td><img src="/static/gaver/uge7/1r_side_efter_u7.jpg" alt=""></td></tr></table>
    <p>&nbsp;</p>
<h3>Vinder af 2 rækker: </h3>
    <p>- Lækkerier fra sponsoreret af Liljehøj og 2 flasker vin sponsoreret af SuperBrugsen i Asnæs.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (før): </p>
    <p>- En partybox med Fredagslik mix fra Haribo sponsoreret af Lykkegard.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (efter): </p>
    <p>- En lækker æske med dessertchokolader fra Jacobsen sponsoreret af Lykkegard.</p>
    <p>&nbsp;</p>
    <table><tr><td><img src="/static/gaver/uge7/2r_side_foer_u7.jpg" alt=""></td><td><img src="/static/gaver/uge7/2r_side_hoved_u7.jpg" alt=""></td><td><img src="/static/gaver/uge7/2r_side_efter_u7.jpg" alt=""></td></tr></table>
    <p>&nbsp;</p>
<h3>Vinder af fuld plade: </h3>
    <p>- En hyggekurv fyldt med lækre sager. 2 stk. biografbilletter, 1 gavekort til Sidesporet, rødvin, Captain Morgan, chokolade, saltede peanuts, fyldte chokolader og cola. Sponsoreret af Parasport Danmark, Pernille Brandt, Kjeld Lundorf og Lykkegard.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (før): </p>
    <p>- 2 Flasker specialøl sponsoreret af SuperBrugsen i Asnæs.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (efter): </p>
    <p>- En guldæske chokolade fra Anton Berg sponsoreret af SuperBrugsen i Asnæs.</p>
    <p>&nbsp;</p>
    <table><tr><td><img src="/static/gaver/uge7/3r_side_foer_u7.jpg" alt=""></td><td><img src="/static/gaver/uge7/3r_side_hoved_u7.jpg" alt=""></td><td><img src="/static/gaver/uge7/3r_side_efter_u7.jpg" alt=""></td></tr></table>
    <p>&nbsp;</p>
<hr>
<h1>Vindere i uge 7</h1>
    <p>&nbsp;</p>

<h3>Vinder af 1 række: </h3>
    <p>- 3 flasker lækker rødvin og en stofindkøbspose sponsoreret af RevisorGården Holbæk</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (før): </p>
    <p>- En lækker mulepose sponsoreret af Sparekassen Sjælland og Lykkegard.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (efter): </p>
    <p>- En plasticpose fyldt med dejlige sager sponsoreret af DanBolig Holbæk.</p>
    <p>&nbsp;</p>
    <table><tr><td><img src="/static/gaver/uge8/1r_side_foer_u8.jpg" alt=""></td><td><img src="/static/gaver/uge8/1r_side_hoved_u8.jpg" alt=""></td><td><img src="/static/gaver/uge8/1r_side_efter_u8.jpg" alt=""></td></tr></table>
    <p>&nbsp;</p>
<h3>Vinder af 2 rækker: </h3>
    <p>- En guldæske chokolade fra Anton Berg og 2 flasker vin sponsoreret af SuperBrugsen i Asnæs.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (før): </p>
    <p>- 2 flasker vin sponsoreret af SuperBrugsen i Asnæs.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (efter): </p>
    <p>- 2 Flasker specialøl sponsoreret af SuperBrugsen i Asnæs.</p>
    <p>&nbsp;</p>
    <table><tr><td><img src="/static/gaver/uge8/2r_side_foer_u8.jpg" alt=""></td><td><img src="/static/gaver/uge8/2r_side_hoved_u8.jpg" alt=""></td><td><img src="/static/gaver/uge8/2r_side_efter_u8.jpg" alt=""></td></tr></table>
    <p>&nbsp;</p>
<h3>Vinder af fuld plade: </h3>
    <p>- Logitech K750 Solar trådløs tastatur og Logitech MX Master 2S trådløs mus sponsoreret af Fair-IT.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (før): </p>
    <p>- 2 Flasker specialøl sponsoreret af SuperBrugsen i Asnæs.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (efter): </p>
    <p>- En guldæske chokolade fra Anton Berg sponsoreret af SuperBrugsen i Asnæs.</p>
    <p>&nbsp;</p>
    <table><tr><td><img src="/static/gaver/uge8/3r_side_foer_u8.jpg" alt=""></td><td><img src="/static/gaver/uge8/3r_side_hoved_u8.jpg" alt=""></td><td><img src="/static/gaver/uge8/3r_side_efter_u8.jpg" alt=""></td></tr></table>
    <p>&nbsp;</p>
<h1>Vindere i uge 6</h1>
    <p>&nbsp;</p>
<hr>
    Tidligere..
    <hr>
<h3>Vinder af 1 række: Heidi Halberg (Banko på nr. 79)</h3>
    <p>- Lækkerier fra sponsoreret af Liljehøj og en æske fyldte chokolader fra Lykkegard</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (før): Ditte Juhl</p>
    <p>- En lækker mulepose sponsoreret af Sparekassen Sjælland og Lykkegard.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (efter): Helle Daugaard
    </p>
    <p>- En lækker pakke med Karat Kaffe og en stor Toblerone sponsoreret af Lykkegard.</p>
    <p>&nbsp;</p>
    <table><tr><td><img src="/static/gaver/uge6/1r_side_foer_u6.jpg" alt=""></td><td><img src="/static/gaver/uge6/1r_hoved_u6.jpg" alt=""></td><td><img src="/static/gaver/uge6/1r_side_efter_u6.jpg" alt=""></td></tr></table>
    <p>&nbsp;</p>
<h3>Vinder af 2 rækker: Jeanett Westergaard (Banko på nr. 12)</h3>
    <p>- 3 flasker lækker rødvin og en stofindkøbspose sponsoreret af RevisorGården Holbæk</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (før): Jannich Halvas</p>
    <p>- En plasticpose fyldt med dejlige sager sponsoreret af DanBolig Holbæk.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (efter): Jens Holm Friis</p>
    <p>- En lækker æske med Snøfler sponsoreret af Lykkegard.</p>
    <p>&nbsp;</p>
    <table><tr><td><img src="/static/gaver/uge6/2r_side_foer_u6.jpg" alt=""></td><td><img src="/static/gaver/uge6/2r_hoved_u6.jpg" alt=""></td><td><img src="/static/gaver/uge6/2r_side_efter_u6.jpg" alt=""></td></tr></table>
    <p>&nbsp;</p>
<h3>Vinder af fuld plade:  Laura Rønje</h3>
    <p>- En ”Valentinskurv” Sponsoreret af Massørskolen Fyn, Pernille Brandt, Kjeld Lundorf og Lykkegard</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (før): Kristina Bech Jørgensen</p>
    <p>- En GIGA pose med familie GUF sponsoreret af Lykkegard.</p>
    <p>&nbsp;</p>
    <p>Sidegevinst (efter): Majbrit Eghjort</p>
    <p>- En Aftenstunder Spangsberg Chokolade sponsoreret af Kjeld Lundorf.</p>
    <p>&nbsp;</p>
    <table><tr><td><img src="/static/gaver/uge6/3r_side_foer_u6.jpg" alt=""></td><td><img src="/static/gaver/uge6/3r_hoved_u6.jpg" alt=""></td><td><img src="/static/gaver/uge6/3r_side_efter_u6.jpg" alt=""></td></tr></table>
    <p>&nbsp;</p>

{%  endblock %}