{%  extends 'base.html' %}
{%  block content %}
<h1>Vindere</h1>

    <p>Jeanett har meldt banko nummer 43, men Heidi har meldt på 79. Bare 3 tal forinden!</p>
    <p>Tillykke til Heidi<!doctype html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
        </head>
        <body>
        
        </body>
        </html></p>
{%  endblock %}